<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">

                <h4 class="card-title">Evento</h4>
                <h6 class="card-subtitle">Actualizar información</h6>

                <form class="form-horizontal p-t-20" [formGroup]="eventoForm" (submit)="guardarEvento()">

                    <div class="form-group row" *ngIf="eventoSeleccionado">
                        <label for="exampleInputuname1" class="col-sm-3 control-label">Foto</label>
                        <div class="col-sm-6 ">
                            <div class="input-group">

                                <img [src]="eventoSeleccionado.img | imagen: ['eventos','img',eventoSeleccionado._id, eventoSeleccionado.estudio]" class="w200" />
                            </div>
                        </div>
                        <div class="col-sm-3" *ngIf="eventoSeleccionado?.qr">
                            <div class="input-group">

                                <img [src]="eventoSeleccionado.qr | imagen: ['eventos','qr',eventoSeleccionado._id, eventoSeleccionado.estudio]" class="w200" />
                            </div>
                            <div class="offset-sm-3 row justify-content-start">
                                <a [href]="eventoSeleccionado.qr | imagen: ['eventos','qr',eventoSeleccionado._id, eventoSeleccionado.estudio]" class=" btn btn btn-outline-success waves-effect ">
                                    <i class="fa fa-download"></i>
                                </a>
                                <a (click)="actulizarQR() " class="btn btn-secondary waves-effect waves-light">
                                    <i class="fa fa-refresh"></i>
                                </a>


                            </div>

                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="exampleInputuname3" class="col-sm-3 control-label">Nombre</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <div class="input-group-addon"><i class="ti-user"></i></div>
                                <input type="text" formControlName="nombre" class="form-control" id="exampleInputuname3" placeholder="Nombre del Evento">
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="exampleInputuname4" class="col-sm-3 control-label">Consignado</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <div class="input-group-addon"><i class="ti-user"></i></div>
                                <input type="text" formControlName="consignado" class="form-control" id="exampleInputuname4" placeholder="Nombre del Evento">
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="exampleInputuname5" class="col-sm-3 control-label">Direccion</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <div class="input-group-addon"><i class="ti-user"></i></div>
                                <input type="text" formControlName="direccion" class="form-control" id="exampleInputuname5" placeholder="Nombre del Evento">
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="exampleInputEmail1" class="col-sm-3 control-label">Fotografo</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <select class="form-control" formControlName="fotografo">
                                    <option value="">Seleccione Fotografo</option>
                                    <option *ngFor="let fotografo of fotografos"
                                        [value]="fotografo._id">
                                        {{ fotografo.nombre }}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row m-b-0">
                        <div class="offset-sm-3 col-sm-9">
                            <button [routerLink]="['/dashboard','evento']" class="btn btn-primary waves-effect waves-light">
                            <i class="fa fa-backward"></i>
                            Atras
                        </button>

                            <button type="submit" [disabled]="eventoForm.invalid" class="btn btn-success waves-effect waves-light">
                                <i class="fa fa-save"></i>
                                Guardar
                            </button>

                        </div>
                        <div class="offset-sm-3 col-sm-9">

                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>


<div class="row " *ngIf="fotografoSeleccionado">

    <div class="col-md-12 ">
        <div class="card-title ">
            <h4>Fotografos</h4>
        </div>
    </div>
    <div class="col-3 animated fadeIn fast " *ngFor="let fotografoSe of fotografoSeleccionado ">

        <div class="card ">
            <div class="card-body ">
                <h5 class="card-title ">{{fotografoSe.nombre}}</h5>
                <h6 class="card-subtitle ">codigo</h6>
                <img [src]="fotografoSe.img | imagen:[ 'fotografos', 'img',fotografoSe._id] " class="img-thumbnail " />
            </div>
        </div>
    </div>
</div>



<div class="row " *ngIf="eventoSeleccionado?.galeria ">
    <div class="col-md-12 ">
        <div class="card-title ">
            <h4>Cargar Galeria</h4>
        </div>
    </div>
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Subir Archivo</h4>
                <h6 class="card-subtitle">For multiple file upload put class <code>.dropzone</code> to form.</h6>

                <input type="file" multiple (change)="cambiarImagen($event.target.files)">

                <br>
                <button type="button" class="btn btn-default " data-dismiss="modal">
            Cancelar
        </button>
                <button type="button " class="btn btn-primary " (click)="subirImagen() ">Actualizar foto</button>

            </div>

        </div>
    </div>
    <div class="col-md-12 ">
        <div class="card-title ">
            <h4>Galeria</h4>
        </div>
    </div>
    <div class="col-3 animated fadeIn fast " *ngFor="let fotos of eventoSeleccionado.galeria ">

        <div class="card ">
            <div class="card-body ">
                <h5 class="card-title ">{{fotos}}</h5>
                <h6 class="card-subtitle ">codigo</h6>
                <img [src]="fotos | imagen:[ 'eventos', 'galeria',eventoSeleccionado._id, eventoSeleccionado.estudio] " class="img-thumbnail " />
            </div>
        </div>
    </div>
</div>