<div class="row">
    <div class="col-8">
        <app-linea title="Reporte de Denuncias Emitidas por el Civil"></app-linea>
    </div>
    <div class="col-4">
        <h5 class=" card-category">Total de Reportes</h5>
        <h3 class=" card-title">
          <i class=" tim-icons icon-delivery-fast text-info"> </i> 58
        </h3>
     </div>*/
    
</div>
<div class="row">
    <div class="col-7">
        <app-barra title="Oficial de Transito"></app-barra>
    </div>

    <div class="col-5">
        <app-dona [labels]="labels1"
                  [data]="data1"
                  title="Reportes de Transito">
        </app-dona>
    </div>
</div>